

div#brightness {
    text-align: center;
    width: 318px;
    font-family: aktiv-grotesk, sans-serif;
    padding-top: 5px;
}

p#screenText {
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0;
}

p#buttonsText {
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}

p#volumeText {
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}

div.rc-slider{
    position: relative;
    display: inline-block;
    width: 67.5%;
    height: 2px;
    margin-bottom: -2px;
    background-color: #ffffff;
}

div.rc-slider-handle {
    position: relative;
    border-radius: 8px;
}

img.minus, img.plus {
    width: 30px;
}

button.minusBtn {
    display: block;
    float: left;
    margin-left: 5px;
    outline: none !important;
    background-color: transparent;
    border: unset;
    padding-bottom: unset;
    /* cursor: none; */
}

button.plusBtn {
    display: block;
    float: right;
    margin-right: 5px;
    outline: none !important;
    background-color: transparent;
    border: unset;
    padding-bottom: unset;
    /* cursor: none; */
}

div#brightness footer {
    margin-top: 12px;
}

