.x-mandatory {
    scroll-snap-type: x mandatory;
  }

.x-proximity {
  scroll-snap-type: x proximity;
}

div#homeContainer {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    will-change: transform;
    position: relative;
    overflow-x: hidden;
    overflow: scroll;
    background-color: #000000;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    margin-top: 3px;
    width: 100%;
}

div#home, div#home2 {
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    width: 318px;
    float: left;
}

div#car {
    width: 318px;
    margin-top: 0;
    height: 115px;
}

div#car > img {
    width: 60%;
    margin-left: 30px;
    float: left;
}

/* SIDE BAR */
div.sidebar {
    width: 53px;
    float: right;
    margin-right: 10px;
    margin-top: 33px;
    color: #ffffff;
}

div.sidebar img {
    width: 40%;
    float: left;
    clear: left;
    margin-bottom: 19px;
}

div.sidebar img#battery {
    width: 26%;
}

div.sidebar img#tempGauge {
    width: 25%;
}

div.sidebar img#lightning {
    width: 20%;
    margin-bottom: 10px;
}

div.sidebar p {
    font-size: 13px;
    float: right;
    margin-top: 0;
}

div.sidebar p#voltage {
    margin-top: -3px;
}

div.sidebar p span {
    font-size: 9px;
}

div.sidebar p#amp {
    line-height: 10px;
    width: 22px;
    margin-top: 1px;
}

div.sidebar p#amp > span{
    float: left;
}

div.sidebar p#temp {
    margin-top: 5px
}


/* div.sidebar p#temp span {
    font-size: 9px
} */




/* .container-one {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    will-change: transform;
    align-content: center;
    overflow-x: auto;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
  
.carElement {
    margin-top: 1%;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    display: inline-block;
    scroll-snap-stop: always;
}
  
.homeButtonElement{
    margin-top: -6%;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    display: inline-block;
    scroll-snap-stop: always;
} */