div#messageList {
    overflow-y: scroll;
    height: 205px;
    width: 315px;
    text-align: center;
}

div#messageList h3 {
    color: #ffffff;
}

ul#messageListing {
    list-style-type: none;
    color: #ffffff;
    text-align: left;
    padding: 0px 10px 10px 10px;
    margin: 0;
}

ul#messageListing li {
    position: relative;
    border-bottom: 1px solid gray;
    padding: 10px 5px 5px 15px;
}

ul#messageListing li div {
    width: 190px;
}

ul#messageListing li span:nth-of-type(2) {
    position: absolute;
    right: 0;
    bottom: 2px;
}

.dot {
    position: absolute;
    left: 0px;
    top: 15px;
    height: 8px;
    width: 8px;
    background-color: rgb(61, 199, 146);
    border-radius: 50%;
    display: inline-block;
}